//yuvrajpruthi.usw-22.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.da787bf7-14ea-4b80-a3ff-c8b081e1615c/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@tome:registry=https://yuvrajpruthi.usw-22.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.da787bf7-14ea-4b80-a3ff-c8b081e1615c/contents/release/npm/
